[credential]
        helper = store

[includeIf "gitdir:~/sangmin0816/"]
	path = ~/.gitconfig-sangmin0816
[includeIf "gitdir:~/luigi-team/"]
	path = ~/.gitconfig-luigi-team
[includeIf "gitdir:~/evvgreen/"]
	path = ~/.gitconfig-evvgreen
[safe]
	directory = *
