@charset "UTF-8";

.contents {clear:both;min-height:60vh;margin-bottom:70px;}
.contents::after { content:""; clear:both; display:block; width:100%; }

#contents .sub {background-image:url("../image/sub/bg_visual_overview.jpg");background-repeat: no-repeat; background-size:cover;height:270px;}
#contents .sub > h2 {font-size:35px;font-weight:500;text-align:center;color:#fff;line-height:270px;}
.breadcrumb { clear:both;width:1200px; margin: 0 auto; text-align: right; color:#333;padding-top: 27px;padding-bottom: 27px;}
.breadcrumb a { color:#333; }

.page { clear:both;width:100vw;position:relative; }
.page::after { content:""; display:block; width: 100%; clear:both; }

.page_wrap { clear:both; width: 1200px; height: auto; margin:0 auto; }
.page_tit { font-size:48px; text-align: center; padding-top:1em;padding-bottom:1.5em; }

.page_wrap > section {margin-bottom:50px;}
.page_wrap h3 {font-size: 25px;font-weight: 500;position: relative;padding-left:10px;margin-bottom:10px;}
.page_wrap h3:before {content:"";display:block;width:5px;height:5px;border-radius:2px;background-color:var(--main-color);position:absolute;left:0;top:50%;margin-top:-2.5px}
.page_wrap h4 {font-size:18px;line-height:1.8;font-weight:400;position:relative;padding-left:15px;}
.page_wrap h4:before {position:absolute;content:"";display:block;width:12px;height:12px;border:3px solid var(--main-color);border-radius:50%;left:0;top:50%;margin-top:-6px;box-sizing:border-box;}

.inbtn { display:block;  border-radius:100px;min-width:140px;padding-left: 24px; padding-right: 24px; text-align: center;line-height: 48px; background-color: #333; color:#fff; font-size: 18px; }
.inbtn:first-child { float:left; }
.inbtn:last-child { float:right; }
.btn_group {margin-top:20px;}

/* 이메일 무단 수집 거부 */
.privacyArea > div {margin-top:50px;}

/* 디자인 가이드*/
.pointColor {display:inline-block;width:200px;height:50px;}
.pointColor1 {background-color:var(--main-color);}
.pointColor2 {background-color:var(--sub-color);}
.pointColor3 {background-color:var(--third-color);}
.sampleHr {margin:50px 0;}

